# pinned dependencies to reproduce an entire development environment to use HDMF-ZARR
hdmf==3.14.5
zarr==2.18.3; python_version >= "3.10"  # zarr 2.18.3 dropped support for python 3.9
zarr==2.18.2; python_version < "3.10"
pynwb==2.8.2
numpy==2.1.3
numcodecs==0.13.1
threadpoolctl==3.5.0
