# minimum versions of package dependencies for installing HDMF
# NOTE: these should match the minimum bound for dependencies in pyproject.toml
hdmf==4.2.0
zarr==3.1.3
numpy==1.26.0
numcodecs==0.14.0
pynwb==2.8.3
threadpoolctl==3.1.0
